<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>题目管理列表</title>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <button  type="button" class="layui-btn layui-btn-normal" onclick="singleCheck()">单选</button>
                    <button  type="button" class="layui-btn layui-btn-normal" onclick="moreCheck()">多选</button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
                <button type="button" class="layui-btn" id="upload"><i class="layui-icon"></i>xls/xlsx导入</button>
            </div>


            <table id="table" lay-filter="table"></table>


        </div>
    </div>
</div>

<script th:src="@{/layuiadmin/layui/layui.js}"></script>

<script type="text/html" id="table_admin">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="fa fa-pencil"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="fa fa-trash-o"></i>删除</a>
</script>

<script>

    layui.use(['jquery','upload','layer', 'table'], function(){
        let table = layui.table;
        let upload = layui.upload;
        let layer = layui.layer;
        let $ = layui.jquery;
        //执行一个 table 实例
        table.render({
            elem: '#table',
            height: 450,
            url: '/manager/subjectList', //数据接口
            title: '题目管理列表',
            page: true,
            limit: 20,
            limits: [5,10,15,20],
            cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', title: '编号', width:60},
                    {field: 'title', title: '题目', width:200},
                    {field: 'type', title: '类型', width:80,
                        templet:function (row) {
                            if (row.type == 1){
                                return '<a class="layui-btn layui-btn-success layui-btn-xs">单选</a>';
                            }else{
                                return '<a class="layui-btn layui-btn-danger layui-btn-xs">多选</a>';
                            }
                        }},
                    {field: 'a', title: '选项A', width:100},
                    {field: 'b', title: '选项B', width:100},
                    {field: 'c', title: '选项C', width:100},
                    {field: 'd', title: '选项D', width:100},
                    {field: 'answer', title: '答案', width: 110,
                        templet:function (row) {
                            return '<a class="layui-btn layui-btn-normal layui-btn-xs">'+ row.answer +'</a>';
                        }},
                    {field: 'score', title: '分数', width: 90},
                    {fixed: 'right',title:'操作', width: 240, align:'center', toolbar: '#table_admin'}
                ]
            ],
            //用于搜索结果重载
            id: 'sreload'
        });

        window.singleCheck = function() {
            //执行重载
            table.reload('sreload', {
                //一定要加不然乱码
                method: 'post'
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    //表示传到后台的参数
                    type: 1,
                }
            });
        };
        window.moreCheck = function() {
            //执行重载
            table.reload('sreload', {
                //一定要加不然乱码
                method: 'post'
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    //表示传到后台的参数
                    type: 2,
                }
            });
        }

        let uploadInst = upload.render({
            elem: '#upload'
            ,url: '/manager/subject/upload' //改成您自己的上传接口
            ,accept: 'file' //普通文件
            ,done: function(res){
                if(res.success){
                    layer.msg('上传成功');
                }else{
                    layer.msg(res.message);
                }
            }
        });

        let active = {

            add: function() {
                layer.open({
                    type: 2,
                    title: '添加题目',
                    skin: 'layui-layer-demo', //加上边框
                    area: ['500px', '450px'], //宽高
                    content: '/manager/addSubject'
                });
            },
            batchdel:function () {
                var checkAll = table.checkStatus('sreload');
                if(checkAll.data.length == 0){
                    layer.msg('请选择数据进行删除');
                }else{
                    layer.confirm('真的删除行么', function(){
                        var jsonObj = {};
                        for(var i=0;i<checkAll.data.length;i++){
                            jsonObj["ids["+i+"]"] = checkAll.data[i].id;
                        }
                        $.ajax({
                            url:'/manager/delSubject',
                            data:jsonObj,
                            dataType:'json',
                            type:'post',
                            success:function (data) {
                                if (data.success){
                                    window.location.reload();
                                }else{
                                    layer.msg(data.message);
                                }
                            }
                        })
                    });
                }
            }
        };

        $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        table.on('tool(table)', function(obj){ //注：tool 是工具条事件名，table 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'edit'){
                edit(data);
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    del(data,obj,index);
                });
            }
        });

        function edit(data) {
            layer.open({
                type: 2,
                title: '修改题目',
                skin: 'layui-layer-demo', //加上边框
                area: ['500px', '450px'], //宽高
                method: 'post',
                content: '/manager/addSubject?type=edit&id='+data.id
            });
        }
        //后边两个参数仅仅是因为要执行动态删除dom
        function del(data,obj,index){
            var jsonObj = {};
            jsonObj["ids[0]"] = data.id;
            $.ajax({
                url:'/manager/delSubject',
                data:jsonObj,
                dataType:'json',
                type:'post',
                success:function (data) {
                    if (data.success){
                        obj.del(); //删除对应行（tr）的DOM结构
                        layer.close(index);
                    }else{
                        layer.msg(data.message);
                    }
                }
            })
        }

    });


</script>
</body>
</html>