<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加单词</title>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
</head>
<body>
    <div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
        <input type="hidden" name="id" th:if="${word}" th:value="${word.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">英译</label>
            <div class="layui-input-inline">
                <input th:value="${word != null}?${word.english}:''" type="text" name="english"  placeholder="英译" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">汉译</label>
            <div class="layui-input-inline">
                <input th:value="${word != null}?${word.chinese}:''" type="text" name="chinese"  placeholder="汉译" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">英语四级</label>
            <div class="layui-input-inline">
                <input th:checked="${word !=null and word.cetFour == '1'}?true:false" type="checkbox" value="1" name="cetFour" lay-skin="switch" lay-text="是|否">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">英语六级</label>
            <div class="layui-input-inline">
                <input th:checked="${word !=null and word.cetSix == '1'}?true:false" type="checkbox" value="1" name="cetSix" lay-skin="switch" lay-text="是|否">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">考研英语</label>
            <div class="layui-input-inline">
                <input th:checked="${word !=null and word.netem == '1'}?true:false" type="checkbox" value="1" name="netem" lay-skin="switch" lay-text="是|否">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button th:text="${word != null}?'立即修改':'立即添加'" class="layui-btn" lay-submit="" lay-filter="addWord">立即添加</button>
                <button th:if="${word == null}" type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>

    <script th:src="@{/layuiadmin/layui/layui.js}"></script>
    <script>

        layui.use(['form','jquery'], function () {
            let form = layui.form;
            let $ = layui.jquery;
            form.on('submit(addWord)',function (data) {
                $.ajax({
                    url:'/manager/addWord',
                    data:JSON.stringify(data.field),
                    dataType:'json',
                    contentType: "application/json",
                    type:'post',
                    success:function (data) {
                        if (data.success){
                            layer.msg(data.message);
                            layer.alert(data.message,function(){
                                window.parent.location.reload();//刷新父页面
                                parent.layer.close(index);//关闭弹出层
                            });
                        }else{
                            layer.msg(data.message);
                        }
                    }
                });
                return false;
            })

            //重置
            $("#reset").click(function () {
                $("input").val("");
            })

        });


    </script>
</body>
</html>