<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.web.mapper.PaperMapper">
    <resultMap id="BaseResultMap" type="com.learn.web.pojo.Paper">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="score"  jdbcType="VARCHAR" property="score" />
    </resultMap>

    <select id="queryList" resultMap="BaseResultMap" >
        <!-- 根据条件查询 所有信息 -->
        select
        *
        from paper
        limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="int" >
        select count(*) from paper
    </select>

</mapper>